<div class="center">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <mat-dialog-content>
    {{data.content}}
  </mat-dialog-content>

<mat-dialog-actions>
  <button mat-button  (click)="yes()">Confirmar</button>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
</mat-dialog-actions>
</div>