<div  style="padding-left: 14px">
      <h4>Proceso</h4>
      <mat-form-field>
            <mat-label>Seleccione un proceso</mat-label>
            <mat-select [(ngModel)]="id_process" name="id" (selectionChange)="loadPhases(id_process)">
              <mat-option *ngFor="let proc of process" [value]="proc.id">
                {{proc.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
</div>



<div fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex.gt-md="33.33" fxFlex.gt-sm="33.33" fxFlex="100">
      <mat-card class="card-full-height card-full-width">
          <div class="gene-card-title">
             <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                   <h4 class="mrgn-b-none">Proceso en marcha</h4>
                </div> <span fxFlex></span>
                <button mat-icon-button>
                   <mat-icon>sync</mat-icon>
                </button>
                
             </div>
             <mat-divider></mat-divider>
          </div>
          <div class="gene-card-content crm-progress-wrap">
             <h4 class="mrgn-b-sm">{{processData.name}}</h4>
             <div class="project-descp">
                <mat-list class="pad-t-none mrgn-b-md">
                   <mat-list-item>                     
                      <div class="full-wid" fxLayout="row" fxLayoutAlign="space-between center">
                         <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line><i class="fa fa-user-circle-o primary-text" aria-hidden="true"></i>Propietario : </span>
                         <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{processData.name_user}}</span>
                      </div>
                   </mat-list-item>
                   <mat-list-item>                     
                      <div class="full-wid" fxLayout="row" fxLayoutAlign="space-between center">
                         <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line><i class="fa fa-clock-o primary-text" aria-hidden="true"></i>{{'Fecha de creacion:' | translate}} : </span>
                         <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{processData.created}}</span>
                      </div>
                   </mat-list-item>
                    <mat-list-item>                     
                      <div class="full-wid" fxLayout="row" fxLayoutAlign="space-between center">
                         <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line><i class="fa fa-money primary-text" aria-hidden="true"></i>Descripcion </span>
                         <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{processData.description}}</span>
                      </div>
                   </mat-list-item>
                   <mat-list-item>                     
                      <div class="full-wid" fxLayout="row" fxLayoutAlign="space-between center">
                         <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line><i class="fa fa-envelope-o primary-text" aria-hidden="true"></i>Usuarios : </span>
                         <span class="mrgn-b-xs text-ellipse" fxFlex="calc(100% - 170px)">{{processData.user_list}}</span>
                      </div>
                   </mat-list-item>
                   <mat-list-item>                     
                      <div class="full-wid" fxLayout="row" fxLayoutAlign="space-between center">
                         <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line><i class="fa fa-phone primary-text" aria-hidden="true"></i>Estado : </span>
                         <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{processData.status=='1'? 'Activo' : 'Inactivo'}}</span>
                      </div>
                   </mat-list-item>
                </mat-list>
                <div class="progress-wrap">
                   <div class="mrgn-b-md" fxLayout="row wrap" fxLayoutAlign="space-between center">
                      <span class="font-bold">Avance : </span>
                      <span> {{parse(processData.status_process)}}%</span>
                   </div>
                   <div class="mrgn-b-xs">
                      <mat-progress-bar mode="determinate" value="{{parse(processData.status_process)}}"></mat-progress-bar>
                   </div>
                </div>
             </div>
          </div>
       </mat-card>
   
  </div>
  <div fxFlex.gt-md="33.33" fxFlex.gt-sm="33.33" fxFlex="100">
      <mat-card class="card-full-height card-full-width">
            <div class="gene-card-title">
               <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxLayout="column">
                     <h4 class="mrgn-b-none">Fases</h4>
                  </div> <span fxFlex></span>
                  <button mat-icon-button>
                     <mat-icon>sync</mat-icon>
                  </button>
                  
               </div>
               <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content crm-progress-wrap">
               <mat-list class="mat-pad-none">
                  <mat-list-item *ngFor ="let status of saleChartData">
                     <div class="full-wid">
                        <div class="full-wid pad-b-sm pad-t-xs" fxLayout="row" fxLayoutAlign="space-between start">   
                           <div>
                              <span class="mrgn-b-none font-bold" mat-line>{{status.title}}</span>
                           </div>
                           <div>
                              <a href="javascript:void(0);" matTooltip="Ver Tareas" (click)="loadTask(status.id)" class="crypto-duration {{'primary-bg'}} inline-block"> {{status.value}}% </a>
                           </div>
                        </div>
                        <div class="progress-wrap mrgn-b-md">
                           <mat-progress-bar mode="determinate" value="{{status.value}}"></mat-progress-bar>
                        </div>
                     </div>
                  </mat-list-item> 
               </mat-list>
            </div>
         </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33" fxFlex.gt-md="33.33%" fxFlex="100">
     <mat-card class="card-full-height card-full-width">
        <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column">
                 <h4 class="mrgn-b-none">Tareas</h4>
              </div> <span fxFlex></span>
              <button mat-icon-button>
                 <mat-icon>sync</mat-icon>
              </button>
              
           </div>
           <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content crm-progress-wrap">
           <mat-list class="mat-pad-none">
              <mat-list-item *ngFor ="let status of projectStatus">
                 <div class="full-wid">
                    <div class="full-wid pad-b-sm pad-t-xs" fxLayout="row" fxLayoutAlign="space-between start">   
                       <div>
                          <span class="mrgn-b-none font-bold" mat-line>{{status.title}}</span>
                       </div>
                       <div>
                          <a href="javascript:void(0);" class="crypto-duration {{status.color}} inline-block"> {{status.duration}} </a>
                       </div>
                    </div>
                    <div class="progress-wrap mrgn-b-md">
                       <mat-progress-bar mode="determinate" value="{{status.value}}"></mat-progress-bar>
                    </div>
                 </div>
              </mat-list-item> 
           </mat-list>
        </div>
     </mat-card>
  </div>
</div>