<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <div class="full-wid mrgn-b-lg">
        <h3 class="modal-title" id="exampleModalLabel">{{!this.id ? 'Nuevo' :
                'Editar'}}</h3>
      </div>
    </div>
  </div>
  <form [formGroup]="form">
    <div fxLayout="column">
  
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
  
          <mat-form-field class="full-wid mrgn-b-lg ">
            <input type="text" matInput formControlName="name" class="form-control" placeholder="Nombre" required>
          </mat-form-field>
        </div>
  
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
  
          <mat-form-field class="full-wid mrgn-b-lg ">
            <textarea type="text " rows="3" matInput formControlName="description" class="form-control" placeholder="Descripción" required></textarea>
          </mat-form-field>
        </div>
      </div>
  
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
  
          <mat-form-field class="full-wid mrgn-b-lg ">
            <input type="date" matInput formControlName="finished" class="form-control" placeholder="Finalizacion" required>
          </mat-form-field>
        </div>
  
<!--         <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
  
          <mat-form-field class="full-wid mrgn-b-lg ">
              <mat-label>Seleccione Los usuarios</mat-label>
              <mat-select formControlName="user_list" multiple>
                <mat-option *ngFor="let user of users" [value]="user.id">{{user.first_name}} {{user.last_name}}</mat-option>
              </mat-select>
          </mat-form-field>
        </div> -->
      </div>
  
      
  
      <div *ngIf="id==null ? false : true" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
          <div class="full-wid mrgn-b-lg ">
            <mat-radio-group formControlName="status">
              <mat-radio-button style="margin-left: 16px;" value="1">Activo</mat-radio-button>
              <mat-radio-button style="margin-left: 16px;" value="0">Inactivo</mat-radio-button>
            </mat-radio-group>
          </div>
  
        </div>
      </div>
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
        <button class="btn-dialog-close" mat-raised-button (click)="onClose()" tabIndex="-1">
          <mat-icon color="accent"></mat-icon>Cancelar
        </button>
        <button color="accent" mat-button mat-raised-button [disabled]="!form.valid"
          (click)="onSubmit(form.value)">Guardar
        </button>
      </div>
    </div>
  </form>