<mat-card>


  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <div class="full-wid mrgn-b-lg">
        <button mat-raised-button (click)="openModal(null)">
          <mat-icon color="accent">add</mat-icon>Nuevo
        </button>
        <button disabled mat-raised-button (click)="closeFase()">
          <mat-icon color="accent">mail</mat-icon>Cerrar Fase
        </button>
      </div>
    </div>
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <mat-form-field class="full-wid mrgn-b-lg">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
      </mat-form-field>
    </div>
  </div>

  <div class="table-responsive">

    <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource" matSort
      class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro </th>
        <td mat-cell *matCellDef="let element;let i = index"> {{(i+1)}} </td>
      </ng-container>

      <!-- CODE Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element">
          {{element.name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
        <td mat-cell *matCellDef="let element">
          {{element.description}}
        </td>
      </ng-container>
      <ng-container matColumnDef="name_criteria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Criterio </th>
          <td mat-cell *matCellDef="let element">
            {{element.name_criteria}}
          </td>
        </ng-container>
        <ng-container matColumnDef="name_indicator">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Indicador </th>
            <td mat-cell *matCellDef="let element">
              {{element.name_indicator}}
            </td>
          </ng-container>
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio</th>
        <td mat-cell *matCellDef="let element">
          {{element.start_date}}
        </td>
      </ng-container>
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin</th>
        <td mat-cell *matCellDef="let element">
          {{element.end_date}}
        </td>
      </ng-container>

<!--       <ng-container matColumnDef="create">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado </th>
        <td mat-cell *matCellDef="let element">
          {{changeDate(element.created)}}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element">
          <!-- <mat-form-field floatLabel="never">
                              <input matInput placeholder="DESCRIPTION" [value]="element.DESCRIPTION" [(ngModel)]="element.DESCRIPTION">
                          </mat-form-field> -->
          <!--           <button *ngIf="element.status==1 ? true : false" mat-icon-button color="accent"
            (click)=onUpdateStatus(element)>
            <mat-icon>
              check_circle
            </mat-icon>
          </button>
          <button *ngIf="element.status==0 ? true : false" mat-icon-button (click)=onUpdateStatus(element)
            color="danger">
            <mat-icon>
              check_circle
            </mat-icon>
          </button> -->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon *ngIf="element.status_task=='0'" color="warn">check_circle</mat-icon>
            <mat-icon *ngIf="element.status_task=='1'" color="primary">check_circle</mat-icon>
            <mat-icon *ngIf="element.status_task=='2'" color="accent">check_circle</mat-icon>
          </button>
          <span *ngIf="element.status_task=='0'">Sin Iniciar</span>
          <span *ngIf="element.status_task=='1'">En Proceso</span>
          <span *ngIf="element.status_task=='2'">Realizado</span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onSetStatus(element,'1')">
              <mat-icon color="primary" >check_circle</mat-icon>
              <span>En Proceso</span>
            </button>
            <button mat-menu-item (click)="onSetStatus(element,'2')" >
              <mat-icon color="accent">check_circle</mat-icon>
              <span>Realizado</span>
            </button>
          </mat-menu>

        </td>
      </ng-container>


      <!-- Change Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button color="accent" (click)="openModal(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>

</mat-card>