<mat-card fxFlex="100%">
    <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                <h4>{{!this.id ? 'Nuevo' :
                        'Editar'}}</h4>
            </div> <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
        <form [formGroup]="form">
            <div fxLayout="column">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">

                        <mat-form-field class="full-wid mrgn-b-lg ">
                            <input type="text " matInput formControlName="name" class="form-control"
                                placeholder="Nombre del Documento" required>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <div class="full-wid mrgn-b-lg ">
                            <p class="download" *ngIf="this.form.get('path').value != ''">URL de descarga: <a
                                    href="{{this.form.get('path').value}}" target="_blank">Descargar</a></p>
                            <div class="input-group margin-bottom-sm">
                                <input type="file" name="path" formControlName="path" />
                            </div>

                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">

                        <mat-form-field class="full-wid mrgn-b-lg ">
                            <input type="text " matInput formControlName="id_user" class="form-control"
                                placeholder="Autor" required>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <div class="full-wid mrgn-b-lg ">
                            <mat-radio-group formControlName="status">
                                <mat-radio-button style="margin-left: 16px;" value="1">Activo</mat-radio-button>
                                <mat-radio-button style="margin-left: 16px;" value="0">Inactivo</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                    <button class="btn-dialog-close" mat-raised-button (click)="onClose()" tabIndex="-1">
                        <mat-icon color="accent"></mat-icon>Cancelar
                    </button>
                    <button color="accent" mat-button mat-raised-button [disabled]="!form.valid"
                        (click)="onSubmit(form.value)">Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-card>