<mat-card class="mat-elevation-z8">

  <div fxLayout="column">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45">

        <h4>Proceso</h4>
        <mat-form-field>
          <mat-label>Seleccione un proceso</mat-label>
          <mat-select [(ngModel)]="id_process" name="id" >
            <mat-option *ngFor="let proc of process" [value]="proc.id">
              {{proc.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45">

        <a [disabled]="id_process==''? true: false" color="accent" mat-button mat-raised-button  href="http://localhost:8000/api/report/" target="_blank">Descargar
        </a>
      </div>
    </div>

  </div>


</mat-card>